/***********************************************
 *                 Main SCSS file              *
 ***********************************************/
/*  DANGER
 *  Do not change the order
 */
/***********************************************
 *                 Variables                   *
 ***********************************************/
/*
 * Colors
 */
/*
 * Mapping each color with theme
 */
/*
 * Mixin for theming
 */
/*
 * Generating colors for dark theme
 */
.dark-mode {
  --color-primary: #D0BCFF;
  --color-primary-rgb: 208, 188, 255;
  --color-on-primary: #381E72;
  --color-on-primary-rgb: 56, 30, 114;
  --color-primary-container: #4F378B;
  --color-primary-container-rgb: 79, 55, 139;
  --color-on-primary-container: #EADDFF;
  --color-on-primary-container-rgb: 234, 221, 255;
  --color-secondary: #CCC2DC;
  --color-secondary-rgb: 204, 194, 220;
  --color-on-secondary: #332D41;
  --color-on-secondary-rgb: 51, 45, 65;
  --color-secondary-container: #4A4458;
  --color-secondary-container-rgb: 74, 68, 88;
  --color-on-secondary-container: #E8DEF8;
  --color-on-secondary-container-rgb: 232, 222, 248;
  --color-tertiary: #EFB8C8;
  --color-tertiary-rgb: 239, 184, 200;
  --color-on-tertiary: #492532;
  --color-on-tertiary-rgb: 73, 37, 50;
  --color-tertiary-container: #633B48;
  --color-tertiary-container-rgb: 99, 59, 72;
  --color-on-tertiary-container: #FFD8E4;
  --color-on-tertiary-container-rgb: 255, 216, 228;
  --color-error: #F2B8B5;
  --color-error-rgb: 242, 184, 181;
  --color-on-error: #601410;
  --color-on-error-rgb: 96, 20, 16;
  --color-error-container: #8C1D18;
  --color-error-container-rgb: 140, 29, 24;
  --color-on-error-container: #F2B8B5;
  --color-on-error-container-rgb: 242, 184, 181;
  --color-surface: #1C1B1F;
  --color-surface-rgb: 28, 27, 31;
  --color-on-surface: #E6E1E5;
  --color-on-surface-rgb: 230, 225, 229;
  --color-surface-variant: #49454F;
  --color-surface-variant-rgb: 73, 69, 79;
  --color-on-surface-variant: #CAC4D0;
  --color-on-surface-variant-rgb: 202, 196, 208;
  --color-outline: #938F99;
  --color-outline-rgb: 147, 143, 153;
  --color-background: #1C1B1F;
  --color-background-rgb: 28, 27, 31;
  --color-on-background: #E6E1E5;
  --color-on-background-rgb: 230, 225, 229;
  --color-inverse-surface: #E6E1E5;
  --color-inverse-surface-rgb: 230, 225, 229;
  --color-inverse-on-surface: #313033;
  --color-inverse-on-surface-rgb: 49, 48, 51;
  --color-theme: #ffffff;
  --color-theme-rgb: 255, 255, 255;
}

/*
 * Generating colors for light theme
 */
.light-mode {
  --color-primary: #6750A4;
  --color-primary-rgb: 103, 80, 164;
  --color-on-primary: #FFFFFF;
  --color-on-primary-rgb: 255, 255, 255;
  --color-primary-container: #EADDFF;
  --color-primary-container-rgb: 234, 221, 255;
  --color-on-primary-container: #21005D;
  --color-on-primary-container-rgb: 33, 0, 93;
  --color-secondary: #625B71;
  --color-secondary-rgb: 98, 91, 113;
  --color-on-secondary: #FFFFFF;
  --color-on-secondary-rgb: 255, 255, 255;
  --color-secondary-container: #E8DEF8;
  --color-secondary-container-rgb: 232, 222, 248;
  --color-on-secondary-container: #1D192B;
  --color-on-secondary-container-rgb: 29, 25, 43;
  --color-tertiary: #7D5260;
  --color-tertiary-rgb: 125, 82, 96;
  --color-on-tertiary: #FFFFFF;
  --color-on-tertiary-rgb: 255, 255, 255;
  --color-tertiary-container: #FFD8E4;
  --color-tertiary-container-rgb: 255, 216, 228;
  --color-on-tertiary-container: #31111D;
  --color-on-tertiary-container-rgb: 49, 17, 29;
  --color-error: #B3261E;
  --color-error-rgb: 179, 38, 30;
  --color-on-error: #FFFFFF;
  --color-on-error-rgb: 255, 255, 255;
  --color-error-container: #F9DEDC;
  --color-error-container-rgb: 249, 222, 220;
  --color-on-error-container: #410E0B;
  --color-on-error-container-rgb: 65, 14, 11;
  --color-surface: #FFFBFE;
  --color-surface-rgb: 255, 251, 254;
  --color-on-surface: #1C1B1F;
  --color-on-surface-rgb: 28, 27, 31;
  --color-surface-variant: #E7E0EC;
  --color-surface-variant-rgb: 231, 224, 236;
  --color-on-surface-variant: #49454F;
  --color-on-surface-variant-rgb: 73, 69, 79;
  --color-outline: #79747E;
  --color-outline-rgb: 121, 116, 126;
  --color-background: #FFFBFE;
  --color-background-rgb: 255, 251, 254;
  --color-on-background: #1C1B1F;
  --color-on-background-rgb: 28, 27, 31;
  --color-inverse-surface: #313033;
  --color-inverse-surface-rgb: 49, 48, 51;
  --color-inverse-on-surface: #F4EFF4;
  --color-inverse-on-surface-rgb: 244, 239, 244;
  --color-theme: #000000;
  --color-theme-rgb: 0, 0, 0;
}

/*
 * Fonts
 */
/*
 * Breakpoints
 */
/*
 * Mixins for
 */
/***********************************************
 *                   Basics                    *
 ***********************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background: var(--color-surface);
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

form {
  position: relative;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #000;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  position: relative;
}

a,
button {
  position: relative;
  cursor: pointer;
}
a:hover, a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

input, textarea, button {
  border: 0;
}

.container {
  width: 100%;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

.wrapper {
  padding: 20px;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/***********************************************
 *                   Fonts                    *
 ***********************************************/
/*
 * Importing Fonts
 */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-MediumItalic.eot");
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"), url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../fonts/CircularStd-MediumItalic.woff") format("woff"), url("../fonts/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BoldItalic.eot");
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"), url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../fonts/CircularStd-BoldItalic.woff") format("woff"), url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"), url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BlackItalic.eot");
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"), url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../fonts/CircularStd-BlackItalic.woff") format("woff"), url("../fonts/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"), url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-BookItalic.eot");
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"), url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff"), url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/***********************************************
 *                   Typography                *
 ***********************************************/
/*
 * Variables
 */
/*
 * Basic settings
 */
body {
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-on-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circular Std", sans-serif;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -3px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
h1.fs-lg {
  font-size: 150px;
  line-height: 80%;
}
@media (min-width: 767px) and (max-width: 991px) {
  h1.fs-lg {
    font-size: 42px;
  }
}

h2 {
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -3px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-weight: 600;
  outline: none !important;
  cursor: pointer;
  font-size: 17px;
  line-height: 32px;
  color: #211e3b;
}

p {
  margin: 0;
}

/*
 * Custom Classes for Typography
 */
/*
 * Headlines and display
 */
.headline1, .display-small {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 44px;
  letter-spacing: 0px;
}

.headline2, .headline-large {
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 0px;
}

.headline3, .headline-medium {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: 0px;
}

.headline4, .headline-small {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0px;
}

.headline5, .title-large {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 28px;
  letter-spacing: 0px;
}

/*
 * display fonts
 */
.display2, .display-large {
  font-weight: 400;
  font-size: 3.5625rem;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display3, .display-medium {
  font-weight: 400;
  font-size: 2.8125rem;
  line-height: 52px;
  letter-spacing: 0px;
}

/*
 * subhead fonts
 */
.subhead1, .title-medium {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.150000006px;
}

.subhead2, .title-small {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1000000015px;
}

/*
 * helper fonts
 */
.overline, .label-medium {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.button, .label-large {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1000000015px;
}

.caption, .body-small {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.400000006px;
}

/*
 * body font
 */
.body1, .body-large {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body2, .body-medium {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.25px;
}

/*  TODO
 *  These colors should be changed automatically according to theme
 *  For now i am using light theme color as default
 */
/***********************************************
 *                   Shadow                    *
 ***********************************************/
/*
 *  Shadows Variables
 */
/*
 *  Mixins
 */
.shadow-xs {
  box-shadow: 0px 1px 2px #b3b3b3, 0px 1px 3px 1px #d9d9d9;
}

.shadow-sm {
  box-shadow: 0px 1px 2px #b3b3b3, 0px 2px 6px 2px #d9d9d9;
}

.shadow-md {
  box-shadow: 0px 4px 8px 3px #d9d9d9, 0px 1px 3px #b3b3b3;
}

.shadow-lg {
  box-shadow: 0px 6px 10px 4px #d9d9d9, 0px 2px 3px #b3b3b3;
}

.shadow-xl {
  box-shadow: 0px 8px 12px 6px #d9d9d9, 0px 4px 4px #b3b3b3;
}

.shadow-primary-xs {
  box-shadow: 0px 1px 2px #d1c9e5, 0px 1px 3px 1px #e8e4f2;
}

.shadow-primary-sm {
  box-shadow: 0px 1px 2px #d1c9e5, 0px 2px 6px 2px #e8e4f2;
}

.shadow-primary-md {
  box-shadow: 0px 4px 8px 3px #e8e4f2, 0px 1px 3px #d1c9e5;
}

.shadow-primary-lg {
  box-shadow: 0px 6px 10px 4px #e8e4f2, 0px 2px 3px #d1c9e5;
}

.shadow-primary-xl {
  box-shadow: 0px 8px 12px 6px #e8e4f2, 0px 4px 4px #d1c9e5;
}

.shadow-secondary-xs {
  box-shadow: 0px 1px 2px #cfccd6, 0px 1px 3px 1px #e7e6eb;
}

.shadow-secondary-sm {
  box-shadow: 0px 1px 2px #cfccd6, 0px 2px 6px 2px #e7e6eb;
}

.shadow-secondary-md {
  box-shadow: 0px 4px 8px 3px #e7e6eb, 0px 1px 3px #cfccd6;
}

.shadow-secondary-lg {
  box-shadow: 0px 6px 10px 4px #e7e6eb, 0px 2px 3px #cfccd6;
}

.shadow-secondary-xl {
  box-shadow: 0px 8px 12px 6px #e7e6eb, 0px 4px 4px #cfccd6;
}

.shadow-tertiary-xs {
  box-shadow: 0px 1px 2px #dbc8ce, 0px 1px 3px 1px #ede4e7;
}

.shadow-tertiary-sm {
  box-shadow: 0px 1px 2px #dbc8ce, 0px 2px 6px 2px #ede4e7;
}

.shadow-tertiary-md {
  box-shadow: 0px 4px 8px 3px #ede4e7, 0px 1px 3px #dbc8ce;
}

.shadow-tertiary-lg {
  box-shadow: 0px 6px 10px 4px #ede4e7, 0px 2px 3px #dbc8ce;
}

.shadow-tertiary-xl {
  box-shadow: 0px 8px 12px 6px #ede4e7, 0px 4px 4px #dbc8ce;
}

.shadow-error-xs {
  box-shadow: 0px 1px 2px #f2b5b2, 0px 1px 3px 1px #f9dad8;
}

.shadow-error-sm {
  box-shadow: 0px 1px 2px #f2b5b2, 0px 2px 6px 2px #f9dad8;
}

.shadow-error-md {
  box-shadow: 0px 4px 8px 3px #f9dad8, 0px 1px 3px #f2b5b2;
}

.shadow-error-lg {
  box-shadow: 0px 6px 10px 4px #f9dad8, 0px 2px 3px #f2b5b2;
}

.shadow-error-xl {
  box-shadow: 0px 8px 12px 6px #f9dad8, 0px 4px 4px #f2b5b2;
}

/* TODO
 * Fix Shadows for dark theme
 */
/***********************************************
 *                   Buttons                   *
 ***********************************************/
/*
 * Button colors
 */
/*
 * Custom classes start
 */
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 99px;
  height: 40px;
  padding: 10px 24px;
  background: var(--color-primary);
  border-radius: 100px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--color-on-primary);
}
.btn:hover {
  box-shadow: 0px 1px 2px #b3b3b3, 0px 1px 3px 1px #d9d9d9;
}
.btn:active {
  box-shadow: none;
}
.btn:disabled {
  background-color: rgba(var(--color-on-surface-rgb), 0.12);
  color: rgba(var(--color-on-surface-rgb), 0.38);
  cursor: not-allowed;
}
.btn:disabled:hover {
  box-shadow: none;
}
.btn.btn-outlined {
  background: none;
  border: 1px solid var(--color-outline);
  color: var(--color-primary);
}
.btn.btn-outlined:hover {
  background: rgba(var(--color-primary-rgb), 0.08);
  box-shadow: none;
}
.btn.btn-outlined:active {
  background: rgba(var(--color-primary-rgb), 0.12);
}
.btn.btn-text {
  background: none;
  color: var(--color-primary);
}
.btn.btn-text:hover {
  background: rgba(var(--color-primary-rgb), 0.08);
  box-shadow: none;
}
.btn.btn-text:active {
  background: rgba(var(--color-primary-rgb), 0.12);
}
.btn.btn-elevated {
  background: linear-gradient(0deg, rgba(var(--color-primary-rgb), 0.05), rgba(var(--color-primary-rgb), 0.05)), var(--color-surface);
  color: var(--color-primary);
  box-shadow: 0px 1px 2px #b3b3b3, 0px 1px 3px 1px #d9d9d9;
}
.btn.btn-elevated:hover {
  background: linear-gradient(0deg, rgba(var(--color-primary-rgb), 0.08), rgba(var(--color-primary-rgb), 0.08)), var(--color-surface);
  box-shadow: 0px 1px 2px #b3b3b3, 0px 2px 6px 2px #d9d9d9;
}
.btn.btn-elevated:active {
  box-shadow: 0px 1px 2px #b3b3b3, 0px 1px 3px 1px #d9d9d9;
}
.btn.btn-tonal {
  background: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}
.btn.btn-tonal:hover {
  box-shadow: 0px 1px 2px #b3b3b3, 0px 1px 3px 1px #d9d9d9;
}
.btn.btn-tonal:active {
  background: rgba(var(--color-on-secondary-container-rgb), 0.12);
  box-shadow: none;
}
.btn.btn-icon {
  flex-direction: row;
  min-width: 117px;
  height: 40px;
}
.btn.btn-primary {
  background: var(--color-primary);
}
.btn.btn-secondary {
  background: var(--color-secondary);
}
.btn.btn-tertiary {
  background: var(--color-tertiary);
}
.btn.btn-error {
  background: var(--color-error);
}

/*# sourceMappingURL=style.css.map */
