* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::placeholder {
  color: #666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

form {
  position: relative;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #000;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  position: relative;
}

a,
button {
  position: relative;
}
a:hover, a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

input, textarea, button {
  border: 0;
}

.container {
  width: 100%;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

.dark-mode {
  --color-primary: #D0BCFF;
  --color-on-primary: #381E72;
  --color-primary-container: #4F378B;
  --color-on-primary-container: #EADDFF;
  --color-secondary: #CCC2DC;
  --color-on-secondary: #332D41;
  --color-secondary-container: #4A4458;
  --color-on-secondary-container: #E8DEF8;
  --color-tertiary: #EFB8C8;
  --color-on-tertiary: #492532;
  --color-tertiary-container: #633B48;
  --color-on-tertiary-container: #FFD8E4;
  --color-error: #F2B8B5;
  --color-on-error: #601410;
  --color-error-container: #8C1D18;
  --color-on-error-container: #F2B8B5;
  --color-surface: #1C1B1F;
  --color-on-surface: #E6E1E5;
  --color-surface-variant: #49454F;
  --color-on-surface-variant: #CAC4D0;
  --color-outline: #938F99;
  --color-background: #1C1B1F;
  --color-on-background: #E6E1E5;
  --color-inverse-surface: #E6E1E5;
  --color-inverse-on-surface: #313033;
  --color-theme: #ffffff;
}

.light-mode {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #EADDFF;
  --color-on-primary-container: #21005D;
  --color-secondary: #625B71;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #E8DEF8;
  --color-on-secondary-container: #1D192B;
  --color-tertiary: #7D5260;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFD8E4;
  --color-on-tertiary-container: #31111D;
  --color-error: #B3261E;
  --color-on-error: #FFFFFF;
  --color-error-container: #F9DEDC;
  --color-on-error-container: #410E0B;
  --color-surface: #FFFBFE;
  --color-on-surface: #1C1B1F;
  --color-surface-variant: #E7E0EC;
  --color-on-surface-variant: #49454F;
  --color-outline: #79747E;
  --color-background: #FFFBFE;
  --color-on-background: #1C1B1F;
  --color-inverse-surface: #313033;
  --color-inverse-on-surface: #F4EFF4;
  --color-theme: #000000;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-MediumItalic.eot");
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"), url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../fonts/CircularStd-MediumItalic.woff") format("woff"), url("../fonts/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BoldItalic.eot");
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"), url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../fonts/CircularStd-BoldItalic.woff") format("woff"), url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"), url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BlackItalic.eot");
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"), url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../fonts/CircularStd-BlackItalic.woff") format("woff"), url("../fonts/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"), url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-BookItalic.eot");
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"), url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff"), url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
.dark-mode {
  --color-primary: #D0BCFF;
  --color-on-primary: #381E72;
  --color-primary-container: #4F378B;
  --color-on-primary-container: #EADDFF;
  --color-secondary: #CCC2DC;
  --color-on-secondary: #332D41;
  --color-secondary-container: #4A4458;
  --color-on-secondary-container: #E8DEF8;
  --color-tertiary: #EFB8C8;
  --color-on-tertiary: #492532;
  --color-tertiary-container: #633B48;
  --color-on-tertiary-container: #FFD8E4;
  --color-error: #F2B8B5;
  --color-on-error: #601410;
  --color-error-container: #8C1D18;
  --color-on-error-container: #F2B8B5;
  --color-surface: #1C1B1F;
  --color-on-surface: #E6E1E5;
  --color-surface-variant: #49454F;
  --color-on-surface-variant: #CAC4D0;
  --color-outline: #938F99;
  --color-background: #1C1B1F;
  --color-on-background: #E6E1E5;
  --color-inverse-surface: #E6E1E5;
  --color-inverse-on-surface: #313033;
  --color-theme: #ffffff;
}

.light-mode {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #EADDFF;
  --color-on-primary-container: #21005D;
  --color-secondary: #625B71;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #E8DEF8;
  --color-on-secondary-container: #1D192B;
  --color-tertiary: #7D5260;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFD8E4;
  --color-on-tertiary-container: #31111D;
  --color-error: #B3261E;
  --color-on-error: #FFFFFF;
  --color-error-container: #F9DEDC;
  --color-on-error-container: #410E0B;
  --color-surface: #FFFBFE;
  --color-on-surface: #1C1B1F;
  --color-surface-variant: #E7E0EC;
  --color-on-surface-variant: #49454F;
  --color-outline: #79747E;
  --color-background: #FFFBFE;
  --color-on-background: #1C1B1F;
  --color-inverse-surface: #313033;
  --color-inverse-on-surface: #F4EFF4;
  --color-theme: #000000;
}

/* ==========================================================================
   Basics
   ========================================================================== */
body {
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circular Std", sans-serif;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -3px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
h1.fs-lg {
  font-size: 150px;
  line-height: 80%;
}
@media (min-width: 767px) and (max-width: 991px) {
  h1.fs-lg {
    font-size: 42px;
  }
}

h2 {
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -3px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-weight: 600;
  outline: none !important;
  cursor: pointer;
  font-size: 17px;
  line-height: 32px;
  color: #211e3b;
}

p {
  margin: 0;
}

/* ==========================================================================
   Font
   ========================================================================== */
/*
 * Custom classes for font.
 */
.headline1, .display-small {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 44px;
  letter-spacing: 0px;
}

.headline2, .headline-large {
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 0px;
}

.headline3, .headline-medium {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: 0px;
}

.headline4, .headline-small {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0px;
}

.headline5, .title-large {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 28px;
  letter-spacing: 0px;
}

/*
 * display fonts
 */
.display2, .display-large {
  font-weight: 400;
  font-size: 3.5625rem;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display3, .display-medium {
  font-weight: 400;
  font-size: 2.8125rem;
  line-height: 52px;
  letter-spacing: 0px;
}

/*
 * subhead fonts
 */
.subhead1, .title-medium {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.150000006px;
}

.subhead2, .title-small {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1000000015px;
}

/*
 * helper fonts
 */
.overline, .label-medium {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.button, .label-large {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1000000015px;
}

.caption, .body-small {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.400000006px;
}

/*
 * body font
 */
.body1, .body-large {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body2, .body-medium {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.dark-mode {
  --color-primary: #D0BCFF;
  --color-on-primary: #381E72;
  --color-primary-container: #4F378B;
  --color-on-primary-container: #EADDFF;
  --color-secondary: #CCC2DC;
  --color-on-secondary: #332D41;
  --color-secondary-container: #4A4458;
  --color-on-secondary-container: #E8DEF8;
  --color-tertiary: #EFB8C8;
  --color-on-tertiary: #492532;
  --color-tertiary-container: #633B48;
  --color-on-tertiary-container: #FFD8E4;
  --color-error: #F2B8B5;
  --color-on-error: #601410;
  --color-error-container: #8C1D18;
  --color-on-error-container: #F2B8B5;
  --color-surface: #1C1B1F;
  --color-on-surface: #E6E1E5;
  --color-surface-variant: #49454F;
  --color-on-surface-variant: #CAC4D0;
  --color-outline: #938F99;
  --color-background: #1C1B1F;
  --color-on-background: #E6E1E5;
  --color-inverse-surface: #E6E1E5;
  --color-inverse-on-surface: #313033;
  --color-theme: #ffffff;
}

.light-mode {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #EADDFF;
  --color-on-primary-container: #21005D;
  --color-secondary: #625B71;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #E8DEF8;
  --color-on-secondary-container: #1D192B;
  --color-tertiary: #7D5260;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFD8E4;
  --color-on-tertiary-container: #31111D;
  --color-error: #B3261E;
  --color-on-error: #FFFFFF;
  --color-error-container: #F9DEDC;
  --color-on-error-container: #410E0B;
  --color-surface: #FFFBFE;
  --color-on-surface: #1C1B1F;
  --color-surface-variant: #E7E0EC;
  --color-on-surface-variant: #49454F;
  --color-outline: #79747E;
  --color-background: #FFFBFE;
  --color-on-background: #1C1B1F;
  --color-inverse-surface: #313033;
  --color-inverse-on-surface: #F4EFF4;
  --color-theme: #000000;
}

.shadow-primary-xs {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.shadow-primary-sm {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.shadow-primary-md {
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.shadow-primary-lg {
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.shadow-primary-xl {
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.shadow-secondary-xs {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.shadow-secondary-sm {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.shadow-secondary-md {
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.shadow-secondary-lg {
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.shadow-secondary-xl {
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.shadow-tertiary-xs {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.shadow-tertiary-sm {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.shadow-tertiary-md {
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.shadow-tertiary-lg {
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.shadow-tertiary-xl {
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.shadow-error-xs {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.shadow-error-sm {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.shadow-error-md {
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.shadow-error-lg {
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.shadow-error-xl {
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
