/*  TODO
 *  These colors should be changed automatically according to theme
 *  For now i am using light theme color as default
 */

/***********************************************
 *                   Shadow                    *
 ***********************************************/

@use "sass:color";

/*
 *  Shadows Variables
 */
$shadow-colors: (
  "primary":$color-primary-light,
  "secondary":$color-secondary-light,
  "tertiary":$color-tertiary-light,
  "error":$color-error-light,
);

$elevations: "xs", "sm", "md", "lg", "xl";

/*
 *  Mixins
 */
@mixin shadow-xs($color: $md-ref-palette-black) {
  box-shadow: 0px 1px 2px color.scale($color, $lightness: 70%), 0px 1px 3px 1px color.scale($color, $lightness: 85%);
}

@mixin shadow-sm($color: $md-ref-palette-black) {
  box-shadow: 0px 1px 2px color.scale($color, $lightness: 70%), 0px 2px 6px 2px color.scale($color, $lightness: 85%);
}

@mixin shadow-md($color: $md-ref-palette-black) {
  box-shadow: 0px 4px 8px 3px color.scale($color, $lightness: 85%), 0px 1px 3px color.scale($color, $lightness: 70%);
}

@mixin shadow-lg($color: $md-ref-palette-black) {
  box-shadow: 0px 6px 10px 4px color.scale($color, $lightness: 85%), 0px 2px 3px color.scale($color, $lightness: 70%);
}

@mixin shadow-xl($color: $md-ref-palette-black) {
  box-shadow: 0px 8px 12px 6px color.scale($color, $lightness: 85%), 0px 4px 4px color.scale($color, $lightness: 70%);
}

.shadow-xs {
  @include shadow-xs($md-ref-palette-black);
}

.shadow-sm {
  @include shadow-sm($md-ref-palette-black);
}

.shadow-md {
  @include shadow-md($md-ref-palette-black);
}

.shadow-lg {
  @include shadow-lg($md-ref-palette-black);
}

.shadow-xl {
  @include shadow-xl($md-ref-palette-black);
}

@each $name, $color in $shadow-colors {
  @each $elevation in $elevations {
    .shadow-#{$name}-#{$elevation} {
      @if $elevation == "xs" {
        @include shadow-xs($color);
      }
      @if $elevation == "sm" {
        @include shadow-sm($color);
      }
      @if $elevation == "md" {
        @include shadow-md($color);
      }
      @if $elevation == "lg" {
        @include shadow-lg($color);
      }
      @if $elevation == "xl" {
        @include shadow-xl($color);
      }

    }
  }
}
